.navbar-brand {
  @extend .fw-semibold !optional;
}

.navbar-toggler-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar.fixed-top.scrolled {
  @extend .bg-primary;
  transition: background-color 0.2s linear;
}