$utilities: (
  'font-size': (
    responsive: true,
    property: font-size,
    class: fs,
    values: $font-sizes,
  ),
  'border-style': (
    property: border-style,
    class: border,
    values: (
      dotted: dotted,
      dashed: dashed,
    )
  )
);
