$utilities: (
  'font-size': (
    responsive: true,
    property: font-size,
    class: fs,
    values: $font-sizes,
  ),
  'border-style': (
    property: border-style,
    class: border,
    values: (
      dotted: dotted,
      dashed: dashed,
    )
  ),
  'width': (
    responsive: true,
    property: width,
    class: w,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
);
