// Configuration and helpers
@import 'variables', 'utilities';

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/mixins';

//Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

@import 'font', 'nav', 'navbar', 'buttons', 'form-select', './components/accordion', './components/icon',
  './components/bottom-navbar', './components/notification', './components/trix-editor', './components/scrollbar';

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
dl,
ol,
ul {
  margin-bottom: 0;
}

textarea {
  resize: none;
}

body {
  background-color: $primary2;
}

.bd-main {
  .bg-skew {
    background-color: $primary1;
    transform: skew(0deg, -14deg) translateY(-180px);
    height: 410px;
    @include media-breakpoint-up(xxl) {
      transform: skew(0deg, -14deg) translateY(-240px);
      height: 520px;
    }
  }
  .box-content {
    transform: translateY(-320px);
    padding-bottom: 120px;
    @include media-breakpoint-up(xxl) {
      transform: translateY(-420px);
    }
  }
}

.bg-primary2 {
  background-color: $primary2;
}

.box-avatar {
  @extend .border-dark;
  @extend .border-dashed;
  @extend .icon;
  @extend .icon-xxl;
  @extend .rounded-circle;

  .image-wrapper {
    @extend .icon;
    @extend .icon-xxl;
    @extend .rounded-circle;
    object-fit: cover;
    object-position: top;
  }
}

.box-avatar-image {
  @extend .bg-primary4;
  @extend .rounded-circle;
  @extend .icon;
  @extend .icon-lg;
  font-size: 1rem;
}

.box-bottom-navigation {
  @extend .fixed-bottom;
  @extend .border-top;
  @extend .border-secondary;
  @extend .pb-3;
  @extend .pt-4;
  background-color: $primary2;
}

.box-hero-image {
  @extend .border;
  @extend .border-dotted;
  @extend .border-dark;
  @extend .rounded;
  @extend .pointer;
  @extend .border-2;
  @extend .flex-center;

  @include media-breakpoint-up('md') {
    width: 260px;
    height: 208px;
  }

  .hero-image-wrapper {
    @extend .box-hero-image;
    @extend .img-fluid;
    @extend .border-0;
  }
}

.box-image-event {
  @extend .img-fluid;
  @extend .rounded;
  object-fit: cover;
  object-position: top;

  @include media-breakpoint-up('lg') {
    height: 200px;
  }

  &.no-image {
    @extend .flex-center;
    @extend .flex-column;
    @extend .mb-lg-4;
    background-color: #fcf7f5;
  }
}

.collection-title {
  @extend .fs-4;
  @extend .fs-lg-3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  @include media-breakpoint-up('md') {
    -webkit-line-clamp: 2;
  }
}

.container.sidebar {
  @include media-breakpoint-down(lg) {
    max-width: 100vw;
  }
}

.fixed-btn {
  @extend .fixed-bottom;
  @extend .px-3;
  bottom: 95px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-label {
  @extend .d-block;
}

.form-select {
  option {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
  }
  option:not(:last-child) {
    margin-bottom: 20px;
  }
}

.img-fluid {
  object-fit: cover;
  object-position: top;
  aspect-ratio: 5 / 4;
  width: 100%;
}

.ads-img {
  @extend .rounded;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  aspect-ratio: 4 / 3;
}

.illustration-img {
  width: 130px;
}

.mh-200px {
  max-height: 200px;
}

.modal-ads {
  @extend .modal-lg;
  @extend .px-3;
  @extend .px-md-6;

  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }
}

.navbar-brand {
  @extend .text-wrap;
}

.page-error-title {
  @extend .text-secondary, .lh-1;
  font-size: 92px;

  @include media-breakpoint-up(md) {
    font-size: 132px;
  }
}

.page-title {
  @extend .fs-4, .fs-md-3, .fs-xl-2, .text-center;
}

.pointer {
  cursor: pointer;
}

.show_hide_password {
  z-index: 1000;
}

.sidebar {
  &__nav-item {
    @extend .border-bottom, .border-white, .py-2;
  }
  &__nav-item:hover {
    @extend .border-primary;
  }
}

//Make Input placeholder italic
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
