// Configuration and helpers
@import 'variables', 'font';
@import '../../node_modules/bootstrap/scss/bootstrap';

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $primary2;
}

.bd-main {
  .bg-skew {
    background-color: $primary1;
    transform: skew(0deg, -14deg) translateY(-180px);
    height: 410px;
    @include media-breakpoint-up(xxl) {
      transform: skew(0deg, -14deg) translateY(-240px);
      height: 520px;
    }
    +.container {
      transform: translateY(-400px);
      @include media-breakpoint-up(xxl) {
        transform: translateY(-460px);
      }
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  @extend .flex-center;
  @extend .text-white;
  @extend .rounded-1;
  aspect-ratio: 1 / 1;

  &-xs {
    width: 14px;
    height: 14px;
  }

  &-sm {
    width: 20px;
    height: 20px;
  }

  &-md {
    width: 24px;
    height: 24px;
  }

  &-lg {
    width: 32px;
    height: 32px;
  }

  &-xlg {
    width: 44px;
    height: 44px;
  }

  &-xl {
    @extend .fs-2;
    width: 50px;
    height: 50px;
  }

  &-xxl {
    width: 64px;
    height: 64px;
  }
}

.pointer {
  cursor: pointer;
}