{% extends '../components/layout.html' %} {% set cssFiles = './assets/css/style.css' %} {% set pageTitle = 'Account
Setting Page' %} {% import './navbar.html' as navbar %} {% block content %} {{ navbar.detailPages('Account',
'myprofile.html') }}
<div class="container box-content">

  <a class="mt-7 d-flex" role="button" href="change-email.html">
    <h5 class="fs-5">Change Email</h5>
    <div class="ms-auto"><i class="fas fa-angle-right"></i></div>
  </a>
  
  <a class="mt-7 d-flex" role="button" href="change-password.html">
    <h5 class="fs-5">Change Password</h5>
    <div class="ms-auto"><i class="fas fa-angle-right"></i></div>
  </a>

  <div class="mt-7">
    <a role="button" class="btn btn-outline-dark" href="signin.html">Logout</a>
  </div>
</div>

{% endblock %} {% block script %}
<script></script>
{% endblock %}
