{% extends '../components/layout.html' %} {% set cssFiles = './assets/css/style.css' %} {% set pageTitle = 'Change
Password Page' %} {% import './navbar.html' as navbar %} {% import './input.html' as input %} {% import './alert.html'
as alert %} {% block content %} {{ navbar.detailPages('Change Password', 'account-setting.html') }}
<div class="container box-content">
  <div class="mt-6">{{ alert.success('Password successfully updated') }}</div>
  <form class="needs-validation w-lg-75" novalidate>
    <div class="mt-6">
        <p class="fs-5">Your currently used email are:</p>
        <h5 class="fs-5">cameron@gmail.com</h5>
    </div>
    <div class="mt-6">{{ input.password('current-password', 'Current Password', 'Current Password') }}</div>
    <div class="mt-6">{{ input.password('new-password', 'New Password', 'New Password') }}</div>
    <div class="mt-6">{{ input.password('confirm-password', 'Confirm Password', 'Confirm Password') }}</div>

    <div class="mt-7">
      <button type="submit" class="btn btn-dark col-12">Update Password</button>
    </div>
  </form>
</div>
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $('.show-password').click(function () {
      if ($(this).children().hasClass('fa-eye-slash')) {
        //change icon
        $(this).children().removeClass('fa-eye-slash').addClass('fa-eye');
        //change inputt type to text
        $(this).closest('.position-relative').find('.form-control').attr('type', 'text');
      } else {
        //change icon
        $(this).children().removeClass('fa-eye').addClass('fa-eye-slash');
        //change inputt type to text
        $(this).closest('.position-relative').find('.form-control').attr('type', 'password');
      }
    });
  });
</script>
{% endblock %}
