{% extends '../components/layout.html' %} {% set cssFiles =
'./assets/css/style.css' %} {% set pageTitle = 'Donation Success' %} {% import
'./navbar.html' as navbar %} {% block content %} {{ navbar.detailPages('Kohapp',
'home.html') }}
<div class="container box-content">
  <div class="flex-center flex-column mt-7 mt-md-8">
    {% include "../components/share-qr-code.html" %}
    <img
      src="./assets/images/image-success-donation.webp"
      alt="illustraton success donation"
      class="illustration-img mb-6"
    />
    <h5 class="fs-5 mb-6">Kia Ora! A Koha of 1100.00 has been made.</h5>
    <a role="button" href="mydonation.html" class="btn btn-dark col-12 col-sm-6"
      >See My Donation</a
    >
  </div>
</div>
<div id="modalAds" class="modal fade" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-ads">
    <div class="modal-content position-relative">
      <div class="position-absolute top-0 start-100 translate-middle">
        <button
          type="button"
          class="rounded-circle bg-black text-white icon icon-md"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="fas fa-xmark"></i>
        </button>
      </div>
      <a href="event-koha.html" role="button">
        <div class="d-flex bg-primary flex-column-reverse flex-sm-row rounded px-3 py-5 py-lg-7 px-lg-6">
          <div class="col-sm-6">
            <h5 class="fs-5 mt-6 mb-4 pe-sm-3 pe-lg-7 lh-base">
              Abandoned babies and toddlers in orphanages, unable to breastfeed
              and malnourished
            </h5>
          </div>
          <div class="col-sm-6 text-end">
            <img
              src="./assets/images/image-ads.webp"
              class="ads-img"
              alt="ads"
            />
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $("#modalAds").modal("show");
  });
</script>
{% endblock %}
