{% extends '../components/layout.html' %} {% set cssFiles =
'./assets/css/style.css' %} {% set pageTitle = 'Event Detail' %} {% import
'./navbar.html' as navbar %} {% import './button.html' as button %} {% import
'./card.html' as card %} 
{% import './header.html' as header %}
{% import './modal.html' as modal %} {% block content
%} {{ navbar.detailPages('Tangihangan William Berghan', 'event.html') }}
<div class="container box-content">
  {{ header.eventDetail() }}
  <img
    src="./assets/images/picture-1.webp"
    alt="picture"
    class="img-fluid rounded mt-6"
  />
  <p class="mt-4 text-end"><u>Post by Calib Jackson</u></p>
  <h6 class="fs-6 mt-6">Open Donation : August 03 - August 10</h6>
  <p class="mt-6">
    Ka nui te pouri o ta matou panui atu kua mate to tatou hoa aroha a Wiremu.
    Mena kei te pirangi koe ki te hanga koha me mahi ma tenei paltform.
  </p>
  <a href="event-koha.html" class="btn btn-dark mt-6 w-100" role="button"
    >Koha</a
  >
  <h5 class="fs-5 fs-md-3 mt-6 pb-3 border-bottom">
    Message from manuhiri (10)
  </h5>
  {{ card.message('Mirjan Prenga', '5.00')}} {{ card.message('Esther Howard',
  '5.00')}} {{ card.message('Jenny Wilson', '5.00')}} {{
  card.messageWithVideo('Robert Fox', '5.00')}} {{ button.more() }}
</div>
{{ modal.qrcode()}} {% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $('.navigation-item > h6:contains("Events")').parent().addClass("active");
  });
</script>
{% endblock %}
