{% extends '../components/layout.html' %} {% set cssFiles = './assets/css/style.css' %} {% set pageTitle = 'Create Event
Page' %} 
{% import '../components/card.html' as card %}
{% block content %}
<div class="container box-content">
  <h1 class="page-title my-7">Kohapp Event</h1>
    <div class="position-relative">
        <input type="search" name="search" class="form-control ps-7" placeholder="Search" />
        <div class="position-absolute top-50 start-0 translate-middle ms-5"><i class="fas fa-search"></i></div>
    </div>
    {{ card.event('William Berghan', 'Aug 03 - Aug 10', './assets/images/picture-1.webp') }}
    {{ card.collection() }}
    {{ card.event('Jenny Wilson', 'Aug 03 - Aug 10', './assets/images/picture-3.webp') }}
    
    <a href="" role="button" class="flex-center fw-semibold mt-7">Show more<i class="fas fa-angle-down ms-2"></i></a>
</div>
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $('.navigation-item > h6:contains("Events")').parent().addClass('active');
  });
</script>
{% endblock %}
