{% extends '../components/layout-no-sidebar.html' %} {% set cssFiles = './assets/css/style.css' %} {% set pageTitle =
    'Home Page' %} {% block content %}
    <main class="bd-main vh-100">
      <div class="bg-skew"></div>
      <nav class="navbar navbar-light border-bottom border-secondary fixed-top">
        <div class="container">
          <a class="navbar-brand" href="home.html">Kohapp</a>
          <a role="button" class="ms-auto me-6"><i class="fas fa-search fs-4"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      <div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="container sidebar">
          <div class="offcanvas-header border-bottom px-0 pt-7 pb-4">
            <button type="button" class="btn-close btn-close-white ms-auto fs-4" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="d-flex mt-7">
              <div class="col d-none d-sm-block">
                <h3 class="fs-4 fs-md-2 mb-4">Kohapp</h3>
                <p>Supporting users to digitally create, <br> donate, collect and record <br> donations.</p>
              </div>
              <div class="col-auto d-flex flex-column gap-6">
                <h3 class="fs-2">Menu</h3>
                <a href=""><i class="fas fa-file-alt me-2"></i>My Event</a>
                <a href=""><i class="fas fa-user-alt me-2"></i>My Profile</a>
                <a href=""><i class="fas fa-book me-2"></i>My Donation</a>
                <a href=""><i class="fas fa-user-gear me-2"></i>Akahu Account</a>
                <button class="btn btn-primary mt-3">Sign In</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container box-content text-center">
        <h1 class="fs-4 fs-md-2 mt-7">Kohapp</h1>
        <p class="mt-4 mb-7">Supporting users to digitally create, donate, <br> collect and record donations.</p>
        <a href="give-donation.html">
            <div class="d-flex align-items-center justify-content-between border-bottom border-dark py-6">
                <h5 class="h5">Give Donation</h5>
                <i class="fas fa-angle-right"></i>
            </div>
        </a>
        <a href="give-donation.html">
            <div class="d-flex align-items-center justify-content-between border-bottom border-dark py-6">
                <h5 class="h5">Start Collection</h5>
                <i class="fas fa-angle-right"></i>
            </div>
        </a>
        <a href="give-donation.html">
            <div class="d-flex align-items-center justify-content-between border-bottom border-dark py-6">
                <h5 class="h5">Create Event</h5>
                <i class="fas fa-angle-right"></i>
            </div>
        </a>
      </div>
      <div class="bottom-navigation-bar fixed-bottom border-top border-secondary pb-3 pt-4">
        <div class="container">
            <div class="d-flex justify-content-between">
                <a href="" class="d-flex flex-column align-items-center">
                    <i class="fas fa-home mb-2 fs-4"></i>
                    <h6 class="h6">Home</h6>
                </a>
                <a href="" class="d-flex flex-column align-items-center text-secondary">
                    <i class="fas fa-location-dot mb-2 fs-4"></i>
                    <h6 class="h6">Events</h6>
                </a>
                <a href="" class="d-flex flex-column align-items-center text-secondary">
                    <i class="fas fa-arrow-right-arrow-left mb-2 fs-4"></i>
                    <h6 class="h6">Collect</h6>
                </a>
                <a href="" class="d-flex flex-column align-items-center text-secondary">
                    <i class="fas fa-bell mb-2 fs-4"></i>
                    <h6 class="h6">Alerts</h6>
                </a>
            </div>
        </div>
      </div>
    </main>
    {% endblock %} {% block script %}
    <script>
      $(document).ready(function () {
        $('.show_hide_password').click(function () {
          if ($(this).html() == '<i class="fa-solid fa-eye-slash"></i>') {
            $('.input-group > .form-control[name="password"]').attr('type', 'text');
            $(this).html('<i class="fa-solid fa-eye"></i>');
          } else {
            $('.input-group > .form-control[name="password"]').attr('type', 'password');
            $(this).html('<i class="fa-solid fa-eye-slash"></i>');
          }
        });
      });
    </script>
    
    {% endblock %}
    