{% extends '../components/layout-no-sidebar.html' %} {% set cssFiles = './assets/css/style.css' %} {% set pageTitle =
'Login page' %} {% block content %}
<main class="bd-main">
  <div class="bg-skew"></div>
  <div class="container px-md-6 px-lg-7">
    <div class="mt-7">
      <h1 class="h1 mb-5">Welcome to kohapp</h1>
      <form class="row g-3 needs-validation" novalidate>
        <div class="mb-2">
          <label class="form-label" for="email">Email</label>
          <input class="form-control" id="email" name="email" type="email" placeholder="Enter your email" required />
          <div class="invalid-feedback">This email address looks wrong</div>
        </div>
        <div class="mb-2">
          <label class="form-label" for="password">Password</label>
          <input
            class="form-control"
            id="password"
            name="password"
            type="password"
            placeholder="Enter your password"
            required
          />
          <div class="invalid-feedback">All passwords must be at least 6 characters</div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <input id="remember-me" class="form-check-input mt-0 me-2 pointer" type="checkbox" />
            <label for="remember-me" class="pointer">Remember me</label>
          </div>
          <a href="" role="button">Forgot Password?</a>
        </div>
        <button class="btn btn-dark">Sign In</button>
      </form>
      <h6 class="h6 my-5 text-center">Or</h6>
      <div class="row g-5">
        <button class="btn btn-outline-dark">
          <img src="./assets/icons/icon-google.svg" alt="icon-google" class="d-inline-block icon-md" />
          Sign In With Google
        </button>
        <a href="" class="text-center" role="button">Don’t have an account? Sign Up</a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
