{% extends '../components/layout-no-sidebar.html' %} {% set cssFiles = './assets/css/style.css' %} {% set pageTitle =
'Recover Password Page' %} {% block content %}
<main class="bd-main vh-100">
  <div class="bg-skew"></div>
  <div class="container px-md-6 px-lg-7">
    <div class="mt-7">
      <h1 class="h1 mb-6">Recover Password</h1>
      <form class="row g-6 needs-validation" novalidate>
        <div class="col-12">
          <label class="form-label" for="email">Email</label>
          <input
            class="form-control"
            id="email"
            name="email"
            type="email"
            placeholder="Enter your email kohapp"
            required
          />
          <div class="invalid-feedback">This email address looks wrong</div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-dark w-100" disabled>Email me a recovery link</button>
        </div>
      </form>
      <p class="text-center my-6">
        Already have an account?
        <a href="signin.html" class="fw-bold" role="button">Sign In</a>
      </p>
    </div>
  </div>
</main>
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $('.show_hide_password').click(function () {
      if ($(this).html() == '<i class="fa-solid fa-eye-slash"></i>') {
        $('.input-group > .form-control[name="password"]').attr('type', 'text');
        $(this).html('<i class="fa-solid fa-eye"></i>');
      } else {
        $('.input-group > .form-control[name="password"]').attr('type', 'password');
        $(this).html('<i class="fa-solid fa-eye-slash"></i>');
      }
    });
  });
</script>

{% endblock %}
