{% extends '../components/layout-no-navbar.html' %} {% set cssFiles = './assets/css/style.css' %} {% set pageTitle =
'Change Password Page' %} {% import './input.html' as input %} {% block content %}
<div class="container box-content px-md-7 px-lg-8">
  <div class="mt-7">
    <h1 class="page-title mb-6 text-center">Change Password</h1>
    <div class="collapse show multi-collapse">
      <form class="row g-6 needs-validation" novalidate>
        <div class="col-12">{{ input.passwordWithDesc('new-password', 'New Password', 'New Password') }}</div>
        <div class="col-12">{{ input.password('re-password', 'Re-enter Your New Password', 'New Password') }}</div>
        <div class="col-12">
          <button type="submit" class="btn btn-dark w-100" disabled>Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $('.form-control[name="new-password"]').keyup(function () {
      if ($(this).val() != '') {
        $('button[type="submit"]').removeAttr('disabled');
      } else {
        $('button[type="submit"]').attr('disabled', 'true');
      }
    });    
  });
</script>

{% endblock %}
