{% extends '../components/layout-no-navbar.html' %} {% set cssFiles = './assets/css/style.css' %} {% set pageTitle =
'Recover Password Page' %} {% block content %}
<div class="container box-content px-md-7 px-lg-8">
  <div class="mt-8">
    <h1 class="fs-2 mb-6 text-center">Recover Password</h1>
    <div class="collapse show multi-collapse">
      <form class="row g-6 needs-validation" novalidate>
        <div class="col-12">
          <label class="form-label" for="email">Email</label>
          <input
            class="form-control"
            id="email"
            name="email"
            type="email"
            placeholder="Enter your email kohapp"
            required
          />
          <div class="invalid-feedback">This email address looks wrong</div>
        </div>
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-dark w-100"
            disabled
            data-bs-toggle="collapse"
            data-bs-target=".multi-collapse"
          >
            Email me a recovery link
          </button>
        </div>
      </form>
      <p class="text-center my-7">
        Already have an account?
        <a href="signin.html" class="fw-bold" role="button">Sign In</a>
      </p>
    </div>
    <div class="collapse multi-collapse">
      <p class="text-center mb-6">
        We sent an email to erik@kohapp.id! if this email is linked to your kohapp account, you can reset your password.
      </p>
      <div class="d-flex justify-content-center">
        <div class="btn btn-outline-dark me-3" data-bs-toggle="collapse" data-bs-target=".multi-collapse">
          Try again
        </div>
        <div class="btn btn-dark">Back to login page</div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $('.form-control[name="email"]').keyup(function () {
      console.log('test:', $(this).val());
      if ($(this).val() != '') {
        $('button[type="submit"]').removeAttr('disabled');
      } else {
        $('button[type="submit"]').attr('disabled', 'true');
      }
    });
  });
</script>

{% endblock %}
