{% extends '../components/layout.html' %} {% set cssFiles = './assets/css/style.css' %} {% set pageTitle = 'Term and Conditions' %} {% import './navbar.html' as navbar %} {% import './button.html' as button %} {% import './card.html' as card
%} {% block content %} {{ navbar.detailPages('Term and Conditions', 'home.html') }}
<div class="container box-content text-center">
  <h5 class="fs-5 mt-7">Kohapp Term and Conditions</h5>
  <h6 class="fs-6 mt-2"><span class="text-secondary fw-normal">Question about our term?</span> Contact Us</h6>
  <div class="text-start">
    <h5 class="fs-5 mt-7">Date of last Revision : 05 August 2022</h5>
    <p class="mt-2">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book.
    </p>
    <p class="mt-3">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book.
    </p>
    <p class="mt-3">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book.
    </p>
  </div>
</div>
{% endblock %} {% block script %}
<script></script>
{% endblock %}
