{% macro pages() %}
<div class="box-bottom-navigation">
  <div class="container">
    <div class="d-flex justify-content-between">
      <a href="home.html" class="navigation-item">
        <i class="fas fa-home mb-2 fs-4"></i>
        <h6 class="h6">Home</h6>
      </a>
      <a href="event.html" class="navigation-item">
        <i class="fas fa-location-dot mb-2 fs-4"></i>
        <h6 class="h6">Events</h6>
      </a>
      <a href="" class="navigation-item">
        <i class="fas fa-arrow-right-arrow-left mb-2 fs-4"></i>
        <h6 class="h6">Collect</h6>
      </a>
      <a href="" class="navigation-item">
        <i class="fas fa-bell mb-2 fs-4"></i>
        <h6 class="h6">Alerts</h6>
      </a>
    </div>
  </div>
</div>
{% endmacro %}
