{% macro eventDetail() %}
<div
  class="row flex-column flex-lg-row g-6 mt-3 align-items-start align-items-lg-center justify-content-between"
>
  <div class="col-12 col-lg">
    <h2 class="fs-md-3 fs-5 mb-2">Tangihanga</h2>
    <h2 class="fs-md-3 fs-5">William Berghan</h2>
  </div>
  {% include "../components/share-qr-code.html" %}
</div>
{% endmacro %}

{% macro collectDetail() %}
<div
    class="row flex-column flex-lg-row g-6 mt-3 align-items-start align-items-lg-center justify-content-between"
  >
    <h2 class="col-12 col-lg fs-md-3 fs-5 lh-sm">Wade Warren cheerful smile was snatched away by a leaky</h2>
    {% include "../components/share-qr-code.html" %}
  </div>
{% endmacro %}
