{% import '../components/header.html' as header %} {% import '../components/sidebar-script.html' as sidebarScript %}
<!DOCTYPE html>
<html lang="en">
  {% include "./head.html" %}
  <body>
    <div class="grid-container">
      <!-- HEADER -->
      {{ header.public() }}

      <!-- SIBEDAR -->
      {% include '../components/sidebar.html' %}

      <!-- CONTENT -->
      {% block content %} {% endblock %}
    </div>
    <!-- FOOTER -->
    {% include "./footer.html" %}

    <!-- SIDEBAR ITEM -->
    {{ sidebarScript.admin() }}

    <!-- SCRIPT -->
    {% block script %} {% endblock %}
  </body>
</html>
