/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $gray-500;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $gray-800;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $gray-900;
  }